<div class="container">
  <form action="/auth/signup" method="POST" id="formLogin">
    <header id="headerLogin">SignUp</header>
      <div>
        <label for="username" class="formLabel">Username:</label>
        <input type="text" name="username" class="formInput" id="username">
      </div>
      <div>
        <label for="password" class="formLabel">Password:</label>
        <input type="password" name="password" class="formInput" id="password">
      </div>
      <% if (typeof message !== "undefined") { %>
        <div class="errorQuizSignUp"><%= message %></div>
      <% } %>
      <div>
        <input type="submit" value="Create Account" class="formSubmit">
      </div>
  </form>
  
  </div>
