<!-- <h1>Hello
  <b>
    <%= user.username %>
  </b>
</h1> -->




<div class="containerPrivate">
  <form action="/editProfile" method="post" enctype="multipart/form-data">
    <h2>Change Profile Data</h2>
    <div class="form-group">
      <label for="username">Username
        <br>Current Username:
        <%= user.username %>
      </label>
      <input type="text" name="username" class="form-control" placeholder="New username here">
    </div>
    <div class="form-group">
      <label for="password">Password
      </label>
      <input type="password" name="password" class="form-control" placeholder="New password here">
    </div>
    <div class="form-group">
      <label for="profileImg">Profile Image</label>
      <input type="file" name="image" class="form-control" placeholder="New profile image here">
    </div>
    <button type="submit">Change Profile</button>
  </form>
</div>